body {
  background-color: rgb(255, 251, 239);
}

.currentForecast {
  text-align: center;
  top: 6em;
  left: 20em;
}

.daily {
  text-align: center;
}

.hourly {
  text-align: center;
}

.currentLocation {
 text-align: center;
}

.mainApp {
  position: fixed;
  margin: 0 auto;
}

.col {
  border: solid;
  padding: 7px;
}

img {
  width: 200px;
  position: relative;
  left: 0;
}

.toggleSwitch {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 32em;
}

.location {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 30em;
}

.search {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 2em;
  left: 15em;
}

.searchSubmit {
  display: inline-block;
  position: fixed;
  top: 2em;
  left: 25em;
}

.searchicon {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 23em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.date, .time{
  text-align: center;
}