body {
  background-color: rgb(255, 251, 239);
}

.currentForecast {

}


.currentLocation {
 
}

.mainApp {
  position: relative;
  margin: 0 auto;
  border: solid 1px #000 ;
}

.col {
  border: solid;
  padding: 7px;
}

img {
  width: 200px;
  position: relative;
  left: 0;
}

.toggleSwitch {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 32em;
}

.location {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 30em;
}

.search {
 margin: 0 auto;
}

.searchSubmit {
  display: inline-block;
  position: fixed;
  top: 2em;
  left: 25em;
}

.searchicon {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 23em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.date, .time{
  text-align: center;
}