body {
  background-color: rgb(255, 251, 239);
  background-image: url("../media/sky.jpg");
}

h1{
  background-color: rgba(255, 255, 255, .5);
  border: solid 1px #fff;
  border-radius: 5px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 1em;
}

.currentForecast{
text-align: right;
position:relative;
top: 0.5em;
}


.currentLocation {
  text-align: center;
  position: relative;
  top: 1.7em;
}

.mainApp {
  background-color: rgba(255, 255, 255, .75);
  position: relative;
  margin: 0 auto;
  border: solid 1px #000 ;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  text-align: center;
  box-shadow: 3px 3px 3px gray;
}
#icon{
  max-width: 50px;
}

.col {
  font-size: small;
  border: solid;
  padding: 7px;
  border-radius: 10px;
  margin: 4px;
}

img {
  width: 200px;
  position: relative;
  left: 0;
}

.toggleSwitch {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 32em;
}

.location {
  position: relative;
  left: 10em;
  bottom: 1.5em;
}

.search {
 margin: 0 auto;
 position: relative;
 top: 0.5em;

}

.searchSubmit {
  position: relative;
  top: .5em;
}

.searchicon {
  display: inline-block;
  position: fixed;
  top: 2.4em;
  left: 23em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.date, .time{
  text-align: left;
  position: relative;
  top: -1.5em;
}

.weatherDetails{
  list-style: none;
  text-align: left;
  padding: 0;
}